<!DOCTYPE>
<html>
	<head>
		<title>Hello handlebars</title>
		<script src="handlebars-v4.0.5.js"></script>
	</head>
	<body>
		<ul>
          {{#each productsProp}}
		    <p>my most popular product  {{item}}, {{amount}}</p>
		  {{/each}}

		</ul>
	</body>
</html>