<div class="jumbotron">
  <h1>Welcome to Nelisa Spaza Shop</h1>
  <p>To learn more about us please sign in, if you are already a user you can login</p>
  {{#if user}}
  Hello, {{user.name}}
{{/if}}
{{#if user.is_admin}}
  Welcome admin user!
{{/if}}

  <div class="row">
    <div class="col-sm-4 col-md-5">
      <form class="form-signin" action="/users/register" method="POST">
        <h1>signup</h1>
    <input  class="form-control" type="text" name="name" value="" placeholder="name">
    <input  class="form-control" type="email" name="email" value="" placeholder="email">
    <input  class="form-control" type="password" name="password" value="" placeholder="Password">
    <input  class="form-control" type="password" name="confirm_password" value="" placeholder="confirm_password">
    <br>
        <button class="btn btn-info " type="submit">SignUp</button>
      </form>
    </div>

    <div class="col-sm-4 col-md-2">
      <h1>OR</h1>
    </div>

    <div class="col-sm-4 col-md-5">
      {{#if msg}}
      <div class="message">
        {{msg}}
      </div>
      {{/if}}
      <form class="form-signin" action="/login" method="post">
        <h1>login</h1>
        <input  class="form-control" type="text" name="name" value="" placeholder="name">
        <input  class="form-control" type="password" name="password" value="" placeholder="password">
        <br>
        <button class="btn btn-info " type="submit">login</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/nelisa1.jpg" alt="Generic placeholder image">
      
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/nelisa2.jpg" alt="Generic placeholder image">
      
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/nelisa3.jpg" alt="Generic placeholder image">
      
    </div>
  </div>
</div>