{{#if msg}}
<div class="message">
    {{msg}}
</div>
{{/if}}

<form class="form-signin" action="/login" method="post">
	<h1>login</h1>
    <input  class="form-control" type="text" name="name" value="" placeholder="name">
    <input  class="form-control" type="password" name="password" value="" placeholder="password">
    <br>
    <button class="btn btn-info " type="submit">login</button>
</form>
