
/*forms*/
body {
    background-color: antiquewhite;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #f40303;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: -webkit-center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: -webkit-center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.btn a {
  color: white;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


/*.table-inverse {
    color: #eceeef;
    background-color: #373a3c;
}*/


/*-------------------------------------------------------------------------------------------------*/

.row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: -webkit-center;
}

.left-side {
	border-right-width: 10px;
	margin-right: 0px;
	border-bottom-width: 10px;
}

.right-side {
	border-left-width: 10px;
	margin-left: 0px;
	border-bottom-width: 10px;
}

.box1 {
    border-bottom-width: 10px;
    margin-bottom: 30px;
}

.center-side {
    border-right-width: 10px;
    margin-right: 0px;
    border-bottom-width: 10px;
}

.thumbnail {
    background-color: #4A0F0F;
    color: darkorange;
    border-radius: 25px;

}

.container {
    text-align: -webkit-center;
}

.thumbnail img {
    border-radius: inherit;
} 

.container .jumbotron {
    background: #4A0F0F;
    color: darkorange;
    border-radius: 25px;
}

.navbar {
    background-color: #4A0F0F;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  /*color: white;*/
  color: #FFC107;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}



.navbar-brand, .navbar-nav li a{
    color: white;
    font-weight: bold
}

.navbar-nav li .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: antiquewhite;
}

.navbar-brand, .navbar-nav li a {
    color: #FFC107;
    font-weight: bold;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: antiquewhite;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  background-color: #4A0F0F;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}




/*tables*/

table#acrylic {
            border-collapse: separate;
            background: #fff;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 50px auto;
            -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            width: 100%;
        }
        
        #acrylic thead {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        
        #acrylic thead th {
            background-color: bisque;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            color: brown;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
            text-align: left;
            padding: 20px;
            background-size: 100%;
            border-top: 1px solid #858d99;
        }
        
        #acrylic thead th:first-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        
        #acrylic thead th:last-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        #acrylic tbody tr td {
            background-color: #4A0F0F;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: #FFC107;
            font-size: 13px;
            padding: 20px 20px 20px 20px;
            border-bottom: 1px solid #e0e0e0;
        }
        
        #acrylic tbody tr:nth-child(2n) {
            background: #f0f3f5;
        }
        
        #acrylic tbody tr:last-child td {
            border-bottom: none;
        }
        
        #acrylic tbody tr:last-child td:first-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        
        #acrylic tbody tr:last-child td:last-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        #acrylic tbody:hover > tr td {
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
            opacity: 0.5;
        }
        
        #acrylic tbody:hover > tr:hover td {
            text-shadow: none;
            color: #2d2d2d;
            filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            transition: 0.2s all;
        }
        
        @media screen and (max-width: 767px) {
            #acrylic thead {
                display: none;
            }
            #acrylic tr {
                margin-bottom: 10px;
                display: block;
            }
            #acrylic td {
                display: block;
                text-align: right;
                font-size: 13px;
                border-bottom: 1px dotted #ccc;
            }
            #acrylic td:last-child {
                border-bottom: 0;
            }
            #acrylic td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
            table#acrylic {
                width: 100%;
            }
        }
