
<div class="container">
	<form action="/categories/add" method="POST"  class="form-signin">
		<h1>Add category</h1>
		<input type="text" name="description" value="{{description}}" id="description" placeholder="description" class="form-control" required="" autofocus="">
		<button class="btn btn-lg btn-info btn-block" type="submit">Create</button>
	</form>
</div>
