<div class='container'>
	<button class="btn btn-primary" type="submit"><a href="/categories/add">Add</a></button>
	<div class="grid">
		<h1>Categories</h1>
		
		{{#categories}}
		  <h4>{{description}}</h4>
		  <button class="btn btn-primary" type="submit"><a href="/categories/edit/{{id}}" >Edit</a></button>
		  <button class="btn btn-danger" type="submit"><a href="/categories/delete/{{id}}">Delete</a></button>
		{{/categories}}
		{{#no_products}}
		  <p>No products available yet. Add some above.</p>
		{{/no_products}}
	</div>
</div>