<h1>Categories</h1>
<div class="wrapper">
	<button class="btn btn-info" type="submit"><a href="/categories/add">Add</a></button>
	<input type="search" class="light-table-filter form-control" data-table="order-table" placeholder="Filter">
	<table id="acrylic" class="order-table table">
		<thead>
			<tr>
				<th>description</th>
				<th></th>
			</tr>
		</thead>
		{{#categories}}
		<tbody>
			<tr>
				<td data-label="Description">{{description}}</td>
				<td data-label="">
					<button class="btn btn-info btn-sm" type="submit"><a href="/categories/edit/{{id}}" >Edit</a></button>
				<button class="btn btn-danger btn-sm" type="submit"><a href="/categories/delete/{{id}}">Delete</a></button>
			</td>
			</tr>
		</tbody>
		{{/categories}}
	</table>
</div>
{{#no_products}}
<p>No products available yet. Add some above.</p>
{{/no_products}}