<h1>Categories</h1>
<button class="btn btn-info" type="submit"><a href="/categories/add">Add</a></button>
<hr>
<div class="row">
{{#categories}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href="/products" ><h4>{{description}}</h4></a>
			<div class="caption">
				<button class="btn btn-info btn-sm" type="submit"><a href="/categories/edit/{{id}}" >Edit</a></button>
				<button class="btn btn-danger btn-sm" type="submit"><a href="/categories/delete/{{id}}">Delete</a></button>
			</div>
		</div>
	</div>
{{/categories}}
</div>

<div>
	{{#no_products}}
	<p>No products available yet. Add some above.</p>
	{{/no_products}}
</div>


