<div class='container'>
	<form action="/categories/update/{{data.id}}" method="POST" class="form-signin">
		<h1>Edit</h1>
		<div class="">
			<input type="text" name="description" value="{{data.description}}" id="description" placeholder="description" class="form-control" required="" autofocus="">
		</div>
		<button class="btn btn-primary " type="submit">Update</button>
	</form>
</div>
