<h1>Products</h1>
<button class="btn btn-info" type="submit"><a href="/products/add">Add</a></button>
<hr>
<div class="panel panel-info">
	<div class="panel-heading">
		<h1 class="panel-title">Products</h1>
	</div>
	<div class="panel-body">
		<div class="table-responsive panel panel-warning">
			<table class="table table-inverse">
                <thead class="thead-inverse">
					<tr>
						<th>Description</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{{#products}}
						<tr>
							<td>
								<p>{{description}}</p>
								
								
							</td>
							<td>
								<button class="btn btn-info btn-sm" type="submit"><a href="/products/edit/{{id}}">Edit</a></button>
							</td>
							<td>
								<button class="btn btn-danger btn-sm" type="submit"><a href="/products/delete/{{id}}">Delete</a></button>
							</td>
						</tr>
						{{/products}}
						
					</tbody>
				</table>
			</div>
		</div>
		{{#no_products}}
		<p>No products available yet. Add some above.</p>
		{{/no_products}}
	</div>